@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.row1 {
    width: 908px;
    height: 67px;
    background-color: #D57878;
}

.row2 {
    width: 908px;
    height: 31px;
    background-color: #B88B6A;
    margin: 5px 0;
}

#columns {
    width: 908px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.column {
    width: 207px;
    height: 382px;
    background-color: #CEB2A1;
}

.row3 {
    width: 908px;
    height: 55px;
    background-color: #743939;
    margin-top: 5px;
}